In [73]:
import pandas as pd
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine
import psycopg2
import datetime

In [3]:
try:
    connection = mysql.connector.connect(
        host='localhost',
        port=3306,
        user='dev',
        password='devpassword',  
        database='dev' 
    )

    if connection.is_connected():
        print("Conexão com o MySQL foi estabelecida com sucesso!")
        cursor = connection.cursor()
        cursor.execute("SELECT DATABASE();")
        record = cursor.fetchone()
        print("Conectado ao banco de dados:", record)

except Error as e:
    print("Erro ao tentar conectar ao MySQL", e)

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Conexão com o MySQL foi encerrada.")

Conexão com o MySQL foi estabelecida com sucesso!
Conectado ao banco de dados: ('dev',)
Conexão com o MySQL foi encerrada.

In [100]:
df = pd.read_excel('fraguismo.xlsx')
df

,Nome,Nivel,Equipe,Telefone,Email,Insta,Data_de_nascimento,Local,Trabalho,OBS,Pontos,Pontos_para_Próximo_Nivel,Outras_pendencias
0,Adailton Arcanjo dos Santos,Membro,squad 011,11 9 5726 4370,adailton.gut28@hotmail.com,@santosadailtonarcanjo,2004-01-28 00:00:00,"Barueri, São Paulo, Brasil",estudante,"Não sabe usar BTC - ""Pretendo contribuir o Fra...",3.0,2.0,Curso de membro
1,Adenir Brito da Silva (Juca Bala),Assessor,area 51,51 9 9827 7069,adenirbrito@gmail.com,@adenir.natural,1969-04-25 00:00:00,Garopaba-SC-BR,Policial Militar da Reserva,Sabe usar BTC. Indicação do Luiz na Anarcópoli...,24.0,-9.0,Curso de membro
2,Agnaldo Angelico Baldissera,Assessor,Curitiba,41 9 9574 1925,agnaldoangelico.vet@gmail.com,Agnaldo Angelico,1991-07-02 00:00:00,São José dos Pinhais - Pr,médico veterinário,Sabe usar bitcoin,0.0,15.0,Curso de membro
3,Alan Goes,membro,NaN,21 9 8610 5768,alancsgoes@gmail.com,Koelagartixa,1990-04-17 00:00:00,RJ RJ Br,Analista de inteligência de mercado - tô desem...,NaN,0.0,5.0,Curso de membro
4,Alan Souza,Membro,-,64 9 9329 2021,alansouza.br@gmail.com,@alanzuka @alanbiquestore,1989-06-02 00:00:00,Rio verde - GO,"Motorista, art designer, produtor de licor","Ancap com valores cristão , sabe usar btc",0.0,5.0,Curso de membro
...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,Ronald Luís,Líder,-,21 9 7980 6556,Rronald.luis11@gmail.com,@falha.livre / @ronald.livre,1994-08-18 00:00:00,Rio de Janeiro - RJ,Inspetor escolar,tem um canal de comédia e esquetes proliberdad...,4.0,NaN,Curso de membro
273,Tiago Sereneski Rocha,Membro,Curitiba,41 9 8854 0242,tsr123@gmail.com,@tiagosereneski,1990-03-01 00:00:00,Curitiba - PR,"Vendedor de colchões/Chefe de cozinha ""aposent...","Não sabe usar BTC, Escrevedor de orações",NaN,NaN,NaN
274,Vítor de Araújo Oliveira,Membro,-,21 9 7627 8007,vvitor11araujo06@gmail.com,@vitordearaujov,2006-01-11 00:00:00,Niteroi - RJ,estudante,sabe usar btc,5.0,NaN,Curso de membro
275,Vitor Mendes Silva,Assessor,-,34 9 9687 7531,vithorep@gmail.com,Lifeysaliar,1996-09-25 00:00:00,Uberlândia - MG,Almoxarife,Sabe usar btc,2.0,NaN,Curso de membro
276,Yuri Costa Pantar,Membro,-,45 9 9804 1874,2004yuripantar@gmail.com,@yuripantar,27122004,Florianópolis - Brasil,Editor de Vídeo Autônomo,"Sabe usar BTC. Falou com Alex no Telegram - ""G...",6.0,NaN,Curso de membro

In [54]:
df = df[['Nome', 'Email']]

In [60]:
df['first_name'] = df['Nome'].str.split().str[:-1].str.join(' ')
df['last_name'] = df['Nome'].str.split().str[-1:]
df['last_name'] = df['last_name'].str.join(' ')
df

,Nome,Email,first_name,last_name
0,Adailton Arcanjo dos Santos,adailton.gut28@hotmail.com,Adailton Arcanjo dos,Santos
1,Adenir Brito da Silva (Juca Bala),adenirbrito@gmail.com,Adenir Brito da Silva (Juca,Bala)
2,Agnaldo Angelico Baldissera,agnaldoangelico.vet@gmail.com,Agnaldo Angelico,Baldissera
3,Alan Goes,alancsgoes@gmail.com,Alan,Goes
4,Alan Souza,alansouza.br@gmail.com,Alan,Souza
...,...,...,...,...
272,Ronald Luís,Rronald.luis11@gmail.com,Ronald,Luís
273,Tiago Sereneski Rocha,tsr123@gmail.com,Tiago Sereneski,Rocha
274,Vítor de Araújo Oliveira,vvitor11araujo06@gmail.com,Vítor de Araújo,Oliveira
275,Vitor Mendes Silva,vithorep@gmail.com,Vitor Mendes,Silva
276,Yuri Costa Pantar,2004yuripantar@gmail.com,Yuri Costa,Pantar

In [61]:
df = df[['first_name', 'last_name', 'Email']]

In [62]:
df = df.rename(columns={'Email': 'email'})
df

                      first_name   last_name                          email
0           Adailton Arcanjo dos      Santos     adailton.gut28@hotmail.com
1    Adenir Brito da Silva (Juca       Bala)          adenirbrito@gmail.com
2               Agnaldo Angelico  Baldissera  agnaldoangelico.vet@gmail.com
3                           Alan        Goes           alancsgoes@gmail.com
4                           Alan       Souza         alansouza.br@gmail.com
..                           ...         ...                            ...
272                       Ronald        Luís       Rronald.luis11@gmail.com
273              Tiago Sereneski       Rocha               tsr123@gmail.com
274              Vítor de Araújo    Oliveira     vvitor11araujo06@gmail.com
275                 Vitor Mendes       Silva             vithorep@gmail.com
276                   Yuri Costa      Pantar       2004yuripantar@gmail.com

[277 rows x 3 columns]

In [63]:
df['password'] = 'fraguismo'
df['is_superuser'] = 0

In [65]:
df['username'] = df['first_name'].str.split().str[0] + '_' + df['last_name']
df

,first_name,last_name,email,password,is_superuser,username
0,Adailton Arcanjo dos,Santos,adailton.gut28@hotmail.com,fraguismo,0,Adailton_Santos
1,Adenir Brito da Silva (Juca,Bala),adenirbrito@gmail.com,fraguismo,0,Adenir_Bala)
2,Agnaldo Angelico,Baldissera,agnaldoangelico.vet@gmail.com,fraguismo,0,Agnaldo_Baldissera
3,Alan,Goes,alancsgoes@gmail.com,fraguismo,0,Alan_Goes
4,Alan,Souza,alansouza.br@gmail.com,fraguismo,0,Alan_Souza
...,...,...,...,...,...,...
272,Ronald,Luís,Rronald.luis11@gmail.com,fraguismo,0,Ronald_Luís
273,Tiago Sereneski,Rocha,tsr123@gmail.com,fraguismo,0,Tiago_Rocha
274,Vítor de Araújo,Oliveira,vvitor11araujo06@gmail.com,fraguismo,0,Vítor_Oliveira
275,Vitor Mendes,Silva,vithorep@gmail.com,fraguismo,0,Vitor_Silva
276,Yuri Costa,Pantar,2004yuripantar@gmail.com,fraguismo,0,Yuri_Pantar

In [68]:
df['is_staff'] = 0

In [70]:
df['is_active'] = 1

In [74]:
df['date_joined'] = datetime.datetime.now()

In [75]:
df

,first_name,last_name,email,password,is_superuser,username,is_staff,is_active,date_joined
0,Adailton Arcanjo dos,Santos,adailton.gut28@hotmail.com,fraguismo,0,Adailton_Santos,0,1,2024-08-21 22:04:28.384772
1,Adenir Brito da Silva (Juca,Bala),adenirbrito@gmail.com,fraguismo,0,Adenir_Bala),0,1,2024-08-21 22:04:28.384772
2,Agnaldo Angelico,Baldissera,agnaldoangelico.vet@gmail.com,fraguismo,0,Agnaldo_Baldissera,0,1,2024-08-21 22:04:28.384772
3,Alan,Goes,alancsgoes@gmail.com,fraguismo,0,Alan_Goes,0,1,2024-08-21 22:04:28.384772
4,Alan,Souza,alansouza.br@gmail.com,fraguismo,0,Alan_Souza,0,1,2024-08-21 22:04:28.384772
...,...,...,...,...,...,...,...,...,...
272,Ronald,Luís,Rronald.luis11@gmail.com,fraguismo,0,Ronald_Luís,0,1,2024-08-21 22:04:28.384772
273,Tiago Sereneski,Rocha,tsr123@gmail.com,fraguismo,0,Tiago_Rocha,0,1,2024-08-21 22:04:28.384772
274,Vítor de Araújo,Oliveira,vvitor11araujo06@gmail.com,fraguismo,0,Vítor_Oliveira,0,1,2024-08-21 22:04:28.384772
275,Vitor Mendes,Silva,vithorep@gmail.com,fraguismo,0,Vitor_Silva,0,1,2024-08-21 22:04:28.384772
276,Yuri Costa,Pantar,2004yuripantar@gmail.com,fraguismo,0,Yuri_Pantar,0,1,2024-08-21 22:04:28.384772

In [77]:
df.loc[df['username'] == 'Felipe_Oliveira']

,first_name,last_name,email,password,is_superuser,username,is_staff,is_active,date_joined
58,Felipe Luiz de,Oliveira,ffelipeluizdeoliveira.adv@gmail.com,fraguismo,0,Felipe_Oliveira,0,1,2024-08-21 22:04:28.384772
59,Felipe,Oliveira,ffelipeatroliveira@gmail.com,fraguismo,0,Felipe_Oliveira,0,1,2024-08-21 22:04:28.384772

In [86]:
df['username'][58] = df.iloc[58].username = 'Felipe_Oliveira1'

C:\Users\alexa\AppData\Local\Temp\ipykernel_17904\1242288906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['username'][58] = df.iloc[58].username = 'Felipe_Oliveira1'

In [92]:
df['username'][223] = 'Vítor_Oliveira1'

C:\Users\alexa\AppData\Local\Temp\ipykernel_17904\585990048.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['username'][223] = 'Vítor_Oliveira1'

In [93]:
df['username'][223]

'Vítor_Oliveira1'

In [84]:
df.iloc[58]

first_name                           Felipe Luiz de
last_name                                  Oliveira
email           ffelipeluizdeoliveira.adv@gmail.com
password                                  fraguismo
is_superuser                                      0
username                            Felipe_Oliveira
is_staff                                          0
is_active                                         1
date_joined              2024-08-21 22:04:28.384772
Name: 58, dtype: object

In [91]:
df.loc[df['username'] == 'Vítor_Oliveira']

,first_name,last_name,email,password,is_superuser,username,is_staff,is_active,date_joined
223,Vítor,Oliveira,oliveira.vitor3@gmail.com,fraguismo,0,Vítor_Oliveira,0,1,2024-08-21 22:04:28.384772
274,Vítor de Araújo,Oliveira,vvitor11araujo06@gmail.com,fraguismo,0,Vítor_Oliveira,0,1,2024-08-21 22:04:28.384772

In [89]:
df['username'].value_counts()

Vítor_Oliveira        2
Ricardo_Amaral        1
Rodrigo_Nogueira      1
Rodrigo_Grazziotin    1
Rodrigo_Cotta         1
                     ..
Henrique_Ozana        1
Henrique_Silverio     1
Iago_Soares           1
Iury_Nascimento       1
Yuri_Pantar           1
Name: username, Length: 276, dtype: int64

In [95]:
df['id'] = None

In [96]:
df

,first_name,last_name,email,password,is_superuser,username,is_staff,is_active,date_joined,id
0,Adailton Arcanjo dos,Santos,adailton.gut28@hotmail.com,fraguismo,0,Adailton_Santos,0,1,2024-08-21 22:04:28.384772,None
1,Adenir Brito da Silva (Juca,Bala),adenirbrito@gmail.com,fraguismo,0,Adenir_Bala),0,1,2024-08-21 22:04:28.384772,None
2,Agnaldo Angelico,Baldissera,agnaldoangelico.vet@gmail.com,fraguismo,0,Agnaldo_Baldissera,0,1,2024-08-21 22:04:28.384772,None
3,Alan,Goes,alancsgoes@gmail.com,fraguismo,0,Alan_Goes,0,1,2024-08-21 22:04:28.384772,None
4,Alan,Souza,alansouza.br@gmail.com,fraguismo,0,Alan_Souza,0,1,2024-08-21 22:04:28.384772,None
...,...,...,...,...,...,...,...,...,...,...
272,Ronald,Luís,Rronald.luis11@gmail.com,fraguismo,0,Ronald_Luís,0,1,2024-08-21 22:04:28.384772,None
273,Tiago Sereneski,Rocha,tsr123@gmail.com,fraguismo,0,Tiago_Rocha,0,1,2024-08-21 22:04:28.384772,None
274,Vítor de Araújo,Oliveira,vvitor11araujo06@gmail.com,fraguismo,0,Vítor_Oliveira,0,1,2024-08-21 22:04:28.384772,None
275,Vitor Mendes,Silva,vithorep@gmail.com,fraguismo,0,Vitor_Silva,0,1,2024-08-21 22:04:28.384772,None
276,Yuri Costa,Pantar,2004yuripantar@gmail.com,fraguismo,0,Yuri_Pantar,0,1,2024-08-21 22:04:28.384772,None

In [98]:
columns_to_insert = ['id','first_name', 'last_name', 'email', 'password','is_superuser', 'username', 'is_staff', 'is_active','date_joined']

# Filtrar o DataFrame apenas com as colunas que correspondem
df_filtered = df[columns_to_insert]

# Inserir o DataFrame filtrado na tabela 'auth_user'
df_filtered.to_sql(name='auth_user', con=engine, if_exists='append', index=False)

277

In [99]:
df

,first_name,last_name,email,password,is_superuser,username,is_staff,is_active,date_joined,id
0,Adailton Arcanjo dos,Santos,adailton.gut28@hotmail.com,fraguismo,0,Adailton_Santos,0,1,2024-08-21 22:04:28.384772,None
1,Adenir Brito da Silva (Juca,Bala),adenirbrito@gmail.com,fraguismo,0,Adenir_Bala),0,1,2024-08-21 22:04:28.384772,None
2,Agnaldo Angelico,Baldissera,agnaldoangelico.vet@gmail.com,fraguismo,0,Agnaldo_Baldissera,0,1,2024-08-21 22:04:28.384772,None
3,Alan,Goes,alancsgoes@gmail.com,fraguismo,0,Alan_Goes,0,1,2024-08-21 22:04:28.384772,None
4,Alan,Souza,alansouza.br@gmail.com,fraguismo,0,Alan_Souza,0,1,2024-08-21 22:04:28.384772,None
...,...,...,...,...,...,...,...,...,...,...
272,Ronald,Luís,Rronald.luis11@gmail.com,fraguismo,0,Ronald_Luís,0,1,2024-08-21 22:04:28.384772,None
273,Tiago Sereneski,Rocha,tsr123@gmail.com,fraguismo,0,Tiago_Rocha,0,1,2024-08-21 22:04:28.384772,None
274,Vítor de Araújo,Oliveira,vvitor11araujo06@gmail.com,fraguismo,0,Vítor_Oliveira,0,1,2024-08-21 22:04:28.384772,None
275,Vitor Mendes,Silva,vithorep@gmail.com,fraguismo,0,Vitor_Silva,0,1,2024-08-21 22:04:28.384772,None
276,Yuri Costa,Pantar,2004yuripantar@gmail.com,fraguismo,0,Yuri_Pantar,0,1,2024-08-21 22:04:28.384772,None

In [103]:
Dconnection = mysql.connector.connect(
    host='localhost',
    port=3306,
    user='dev',
    password='devpassword',  
    database='dev' )


query = f"SELECT * FROM dev.auth_user;"
df = pd.read_sql_query(query, connection)
df

C:\Users\alexa\AppData\Local\Temp\ipykernel_17904\2305225591.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

,id,password,last_login,is_superuser,username,first_name,last_name,email,is_staff,is_active,date_joined
0,1,fraguismo,None,0,Adailton_Santos,Adailton Arcanjo dos,Santos,adailton.gut28@hotmail.com,0,1,2024-08-21 22:04:28.384772
1,2,fraguismo,None,0,Adenir_Bala),Adenir Brito da Silva (Juca,Bala),adenirbrito@gmail.com,0,1,2024-08-21 22:04:28.384772
2,3,fraguismo,None,0,Agnaldo_Baldissera,Agnaldo Angelico,Baldissera,agnaldoangelico.vet@gmail.com,0,1,2024-08-21 22:04:28.384772
3,4,fraguismo,None,0,Alan_Goes,Alan,Goes,alancsgoes@gmail.com,0,1,2024-08-21 22:04:28.384772
4,5,fraguismo,None,0,Alan_Souza,Alan,Souza,alansouza.br@gmail.com,0,1,2024-08-21 22:04:28.384772
...,...,...,...,...,...,...,...,...,...,...,...
272,273,fraguismo,None,0,Ronald_Luís,Ronald,Luís,Rronald.luis11@gmail.com,0,1,2024-08-21 22:04:28.384772
273,274,fraguismo,None,0,Tiago_Rocha,Tiago Sereneski,Rocha,tsr123@gmail.com,0,1,2024-08-21 22:04:28.384772
274,275,fraguismo,None,0,Vítor_Oliveira,Vítor de Araújo,Oliveira,vvitor11araujo06@gmail.com,0,1,2024-08-21 22:04:28.384772
275,276,fraguismo,None,0,Vitor_Silva,Vitor Mendes,Silva,vithorep@gmail.com,0,1,2024-08-21 22:04:28.384772
276,277,fraguismo,None,0,Yuri_Pantar,Yuri Costa,Pantar,2004yuripantar@gmail.com,0,1,2024-08-21 22:04:28.384772

In [115]:
df1 = pd.read_excel('fraguismo.xlsx')
df1 = df1.rename(columns={'Email':'email'})
df1 = df1[['email', 'OBS', 'Pontos', 'Outras_pendencias', 'Equipe', 'Nivel']]
df1

,email,OBS,Pontos,Outras_pendencias,Equipe,Nivel
0,adailton.gut28@hotmail.com,"Não sabe usar BTC - ""Pretendo contribuir o Fra...",3.0,Curso de membro,squad 011,Membro
1,adenirbrito@gmail.com,Sabe usar BTC. Indicação do Luiz na Anarcópoli...,24.0,Curso de membro,area 51,Assessor
2,agnaldoangelico.vet@gmail.com,Sabe usar bitcoin,0.0,Curso de membro,Curitiba,Assessor
3,alancsgoes@gmail.com,NaN,0.0,Curso de membro,NaN,membro
4,alansouza.br@gmail.com,"Ancap com valores cristão , sabe usar btc",0.0,Curso de membro,-,Membro
...,...,...,...,...,...,...
272,Rronald.luis11@gmail.com,tem um canal de comédia e esquetes proliberdad...,4.0,Curso de membro,-,Líder
273,tsr123@gmail.com,"Não sabe usar BTC, Escrevedor de orações",NaN,NaN,Curitiba,Membro
274,vvitor11araujo06@gmail.com,sabe usar btc,5.0,Curso de membro,-,Membro
275,vithorep@gmail.com,Sabe usar btc,2.0,Curso de membro,-,Assessor
276,2004yuripantar@gmail.com,"Sabe usar BTC. Falou com Alex no Telegram - ""G...",6.0,Curso de membro,-,Membro

In [117]:
total = pd.concat([df['id'], df1], axis = 1)
total = total.rename(columns={'OBS': 'observacao', 'Pontos': 'pontuacao', 'Outras_pendencias': 'pendencias', 'Equipe': 'squad', 'id':  'user_id', 'Nivel': 'nivel' })
total

,user_id,email,observacao,pontuacao,pendencias,squad,nivel
0,1,adailton.gut28@hotmail.com,"Não sabe usar BTC - ""Pretendo contribuir o Fra...",3.0,Curso de membro,squad 011,Membro
1,2,adenirbrito@gmail.com,Sabe usar BTC. Indicação do Luiz na Anarcópoli...,24.0,Curso de membro,area 51,Assessor
2,3,agnaldoangelico.vet@gmail.com,Sabe usar bitcoin,0.0,Curso de membro,Curitiba,Assessor
3,4,alancsgoes@gmail.com,NaN,0.0,Curso de membro,NaN,membro
4,5,alansouza.br@gmail.com,"Ancap com valores cristão , sabe usar btc",0.0,Curso de membro,-,Membro
...,...,...,...,...,...,...,...
272,273,Rronald.luis11@gmail.com,tem um canal de comédia e esquetes proliberdad...,4.0,Curso de membro,-,Líder
273,274,tsr123@gmail.com,"Não sabe usar BTC, Escrevedor de orações",NaN,NaN,Curitiba,Membro
274,275,vvitor11araujo06@gmail.com,sabe usar btc,5.0,Curso de membro,-,Membro
275,276,vithorep@gmail.com,Sabe usar btc,2.0,Curso de membro,-,Assessor
276,277,2004yuripantar@gmail.com,"Sabe usar BTC. Falou com Alex no Telegram - ""G...",6.0,Curso de membro,-,Membro

In [132]:
total['observacao'].fillna('-', inplace=True)
total['squad'].fillna('-', inplace=True)
total['pendencias'].fillna('-', inplace=True)
total['pontuacao'].fillna(0, inplace=True)

In [135]:
total['id'] = None

In [137]:
columns_to_insert = ['user_id', 'observacao','pontuacao', 'pendencias', 'squad', 'nivel', 'id']
total = total[columns_to_insert]

total.to_sql(name='members_profile', con=engine, if_exists='append', index=False)

277

In [175]:
df1 = pd.read_excel('fraguismo.xlsx')
total = pd.concat([df['id'], df1], axis = 1)
total

,id,Nome,Nivel,Equipe,Telefone,Email,Insta,Data_de_nascimento,Local,Trabalho,OBS,Pontos,Pontos_para_Próximo_Nivel,Outras_pendencias
0,1,Adailton Arcanjo dos Santos,Membro,squad 011,11 9 5726 4370,adailton.gut28@hotmail.com,@santosadailtonarcanjo,2004-01-28,"Barueri, São Paulo, Brasil",estudante,"Não sabe usar BTC - ""Pretendo contribuir o Fra...",3.0,2.0,Curso de membro
1,2,Adenir Brito da Silva (Juca Bala),Assessor,area 51,51 9 9827 7069,adenirbrito@gmail.com,@adenir.natural,1969-04-25,Garopaba-SC-BR,Policial Militar da Reserva,Sabe usar BTC. Indicação do Luiz na Anarcópoli...,24.0,-9.0,Curso de membro
2,3,Agnaldo Angelico Baldissera,Assessor,Curitiba,41 9 9574 1925,agnaldoangelico.vet@gmail.com,Agnaldo Angelico,1991-07-02,São José dos Pinhais - Pr,médico veterinário,Sabe usar bitcoin,0.0,15.0,Curso de membro
3,4,Alan Goes,membro,NaN,21 9 8610 5768,alancsgoes@gmail.com,Koelagartixa,1990-04-17,RJ RJ Br,Analista de inteligência de mercado - tô desem...,NaN,0.0,5.0,Curso de membro
4,5,Alan Souza,Membro,-,64 9 9329 2021,alansouza.br@gmail.com,@alanzuka @alanbiquestore,1989-06-02,Rio verde - GO,"Motorista, art designer, produtor de licor","Ancap com valores cristão , sabe usar btc",0.0,5.0,Curso de membro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,273,Ronald Luís,Líder,-,21 9 7980 6556,Rronald.luis11@gmail.com,@falha.livre / @ronald.livre,1994-08-18,Rio de Janeiro - RJ,Inspetor escolar,tem um canal de comédia e esquetes proliberdad...,4.0,NaN,Curso de membro
273,274,Tiago Sereneski Rocha,Membro,Curitiba,41 9 8854 0242,tsr123@gmail.com,@tiagosereneski,1990-03-01,Curitiba - PR,"Vendedor de colchões/Chefe de cozinha ""aposent...","Não sabe usar BTC, Escrevedor de orações",NaN,NaN,NaN
274,275,Vítor de Araújo Oliveira,Membro,-,21 9 7627 8007,vvitor11araujo06@gmail.com,@vitordearaujov,2006-01-11,Niteroi - RJ,estudante,sabe usar btc,5.0,NaN,Curso de membro
275,276,Vitor Mendes Silva,Assessor,-,34 9 9687 7531,vithorep@gmail.com,Lifeysaliar,1996-09-25,Uberlândia - MG,Almoxarife,Sabe usar btc,2.0,NaN,Curso de membro
276,277,Yuri Costa Pantar,Membro,-,45 9 9804 1874,2004yuripantar@gmail.com,@yuripantar,2004-12-27,Florianópolis - Brasil,Editor de Vídeo Autônomo,"Sabe usar BTC. Falou com Alex no Telegram - ""G...",6.0,NaN,Curso de membro

In [176]:
total = total[['id', 'Local', 'Telefone', 'Insta', 'Data_de_nascimento', 'Trabalho']]
total = total.rename(columns={'id': 'user_ptr_id', 'Telefone': 'fone', 'Local': 'city', 'Insta': 'instagram', 'Data_de_nascimento': 'birth', 'Trabalho':'job_title'})
total

,user_ptr_id,city,fone,instagram,birth,job_title
0,1,"Barueri, São Paulo, Brasil",11 9 5726 4370,@santosadailtonarcanjo,2004-01-28,estudante
1,2,Garopaba-SC-BR,51 9 9827 7069,@adenir.natural,1969-04-25,Policial Militar da Reserva
2,3,São José dos Pinhais - Pr,41 9 9574 1925,Agnaldo Angelico,1991-07-02,médico veterinário
3,4,RJ RJ Br,21 9 8610 5768,Koelagartixa,1990-04-17,Analista de inteligência de mercado - tô desem...
4,5,Rio verde - GO,64 9 9329 2021,@alanzuka @alanbiquestore,1989-06-02,"Motorista, art designer, produtor de licor"
...,...,...,...,...,...,...
272,273,Rio de Janeiro - RJ,21 9 7980 6556,@falha.livre / @ronald.livre,1994-08-18,Inspetor escolar
273,274,Curitiba - PR,41 9 8854 0242,@tiagosereneski,1990-03-01,"Vendedor de colchões/Chefe de cozinha ""aposent..."
274,275,Niteroi - RJ,21 9 7627 8007,@vitordearaujov,2006-01-11,estudante
275,276,Uberlândia - MG,34 9 9687 7531,Lifeysaliar,1996-09-25,Almoxarife
276,277,Florianópolis - Brasil,45 9 9804 1874,@yuripantar,2004-12-27,Editor de Vídeo Autônomo

In [177]:
total['bsc_wallet'] ='-'
total['como_conheceu'] = '-'
total['quem_indicou'] = '-'
total['aonde'] = '-'

In [178]:
total['instagram'].fillna('-', inplace=True)
total['birth'].fillna('-', inplace=True)
total['job_title'].fillna('-', inplace=True)

In [179]:
columns_to_insert = ['user_ptr_id', 'city','fone', 'instagram', 'birth', 'job_title', 'bsc_wallet', 'como_conheceu', 'quem_indicou', 'aonde']
total = total[columns_to_insert]

total.to_sql(name='members_user', con=engine, if_exists='append', index=False)

277

In [180]:
total

,user_ptr_id,city,fone,instagram,birth,job_title,bsc_wallet,como_conheceu,quem_indicou,aonde
0,1,"Barueri, São Paulo, Brasil",11 9 5726 4370,@santosadailtonarcanjo,2004-01-28,estudante,-,-,-,-
1,2,Garopaba-SC-BR,51 9 9827 7069,@adenir.natural,1969-04-25,Policial Militar da Reserva,-,-,-,-
2,3,São José dos Pinhais - Pr,41 9 9574 1925,Agnaldo Angelico,1991-07-02,médico veterinário,-,-,-,-
3,4,RJ RJ Br,21 9 8610 5768,Koelagartixa,1990-04-17,Analista de inteligência de mercado - tô desem...,-,-,-,-
4,5,Rio verde - GO,64 9 9329 2021,@alanzuka @alanbiquestore,1989-06-02,"Motorista, art designer, produtor de licor",-,-,-,-
...,...,...,...,...,...,...,...,...,...,...
272,273,Rio de Janeiro - RJ,21 9 7980 6556,@falha.livre / @ronald.livre,1994-08-18,Inspetor escolar,-,-,-,-
273,274,Curitiba - PR,41 9 8854 0242,@tiagosereneski,1990-03-01,"Vendedor de colchões/Chefe de cozinha ""aposent...",-,-,-,-
274,275,Niteroi - RJ,21 9 7627 8007,@vitordearaujov,2006-01-11,estudante,-,-,-,-
275,276,Uberlândia - MG,34 9 9687 7531,Lifeysaliar,1996-09-25,Almoxarife,-,-,-,-
276,277,Florianópolis - Brasil,45 9 9804 1874,@yuripantar,2004-12-27,Editor de Vídeo Autônomo,-,-,-,-